<!--- Extension of base.html template--->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <section class="home-container">
        <div class="home-text">
            <p class="welcome_msg">WELCOME TO MY PORTFOLIO</p>
            <h1>Hi, I'm <span class="highlight">Gabriel Bisco Reinato</span></h1>
            <h2>a <strong>AI & Automation Engineer</strong>.</h2>

            <p class="bio">
                I am an Automation Engineer with a background in AI systems, automation, and cross-functional project delivery. My experience spans coordinating complex technical implementations, developing AI-driven workflows, integrating software and data systems, and translating operational needs into scalable technology solutions.
            </p>
            <p class="bio">
                Combining engineering, analytics, and software development with strong communication skills, I also founded <a href="https://novaflowdigi.com" target="_blank" rel="noopener noreferrer" class="highlight-link">NovaFlowDigi.com</a>—an initiative focused on helping small businesses leverage practical AI and intelligent automation to eliminate manual workflows and optimize daily operations.
            </p>
        </div>

        <div class="home-image">
            <div class="portrait">
                <img src="static/images/linkedinpic.jpg" alt="Your Photo">
            </div>
        </div>
    </section>
</div>
{% endblock %}
